.link:active {
  color: #111;
}

ul {
  display: flex;
  // align-content: space-between;
  li {
    list-style-type: none;
    margin-right: 1rem;
    a {
      text-decoration: none;
      color: #777;
    }
  }
}
