body {
  background-color: #000000;
  color: beige;
}
.container {
  // display: flex;
  // flex-direction: column;
  // max-width: 770px;
  // margin: 0 auto;
  // background-color: yellowgreen;
  display: grid;
  min-height: 100vh;
  grid-template-rows: 1fr auto;
  padding: 20px;
  .up {
    // flex-grow: 1;
    // background-color: red;
    .content {
      margin-top: 5rem;
    }
  }

  .footer {
    color: #aaa;
    // flex-grow: 0;
    grid-row-start: 2;
    grid-row-end: 3;
  }
}
